/* Setting grid areas for items on INDEX PAGE */
.navHome {
    grid-area: navHome;
}

.navThoughts {
    grid-area: navThoughts;
}

.navAlbums {
    grid-area: navAlbums;
}

.navOther {
    grid-area: navOther;
}

@font-face {
    font-face-name: PermanentMarker;
    font-family: PermanentMarker;
    src: url(./fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-face-name: SedgwickAve;
    font-family: SedgwickAve;
    src: url(./fonts/SedgwickAve-Regular.ttf);
}

@font-face {
    font-face-name: SedgwickAveDisplay;
    font-family: SedgwickAveDisplay;
    src: url(./fonts/SedgwickAveDisplay-Regular.ttf);
}

@font-face {
    font-face-name: ReenieBeanieRegular;
    font-family: ReenieBeanieRegular;
    src: url(./fonts/ReenieBeanie-Regular.ttf);
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #21252b;
    color: #77828b;
    margin: 0;
    padding: 0;
}

h1 {
    /*border: solid red 1px;*/
    font-family: PermanentMarker;
    text-align: center;
    font-size: 7rem;
    margin-top: 0;
    margin-bottom: inherit;
}

h3 {
    /*border: solid yellow 1px;*/
    font-family: SedgwickAve;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 40px;
}

.sticky {
    position: sticky;
    top: 0;
}

nav {
    text-align: center;
    width: 100%;;
    display: grid;
    grid-template-columns: 1fr 150px 150px 150px 150px 1fr;
    grid-template-rows: 80px;
    grid-template-areas: ". navHome navThoughts navAlbums navOther .";
}

nav a {
    /*border: red solid 1px;*/
    display: inherit;
    font-size: 30px;
    text-decoration: none;
    color: #77828b;
    padding-top: 5px;
    justify-content: center;
    align-content: center;
}

nav a:hover {
    background-color: #77828b;
    color: #21252b;
    border-radius: 5px;
}

nav a:active {
    background-color: #979da2;
}

nav a img {
    width: 3.5rem;
    height: 3.5rem;
}

main {
    font-family: ReenieBeanieRegular;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    text-align: center;
    font-size: 2rem;
    color: #b2b4b5;
}

main .indexContent {
    display: none;
}

footer {
    position: relative;
    bottom: 5px;
    width: 100vw;
    text-align: center;
    font-family: Serif;
}

footer a {
    text-decoration: none;
    color: inherit;
}